{% spaceless %}
<div class="d-inline-flex flex-column align-items-center justify-content-center" {% if tooltip %}title="{{ tooltip }}"{% endif %}>
    <i class="{{ icon_class|default:icon }} position-relative">
        {% if badge is not None %}<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill text-condensed {% if color %}text-bg-{{ color }}{% else %}text-bg-primary{% endif %}">{{ badge }}</span>{% endif %}
    </i>
    {% if label %}<div class="icon-label d-none d-md-inline-block">{{label}}</div>{% endif %}
</div>
{% endspaceless %}