{% extends "lims/base.html" %}
{% load static %}
{% load bl_icons %}

{% block page-pre-title %}List of{% endblock %}
{% block page-title %}{{ view.page_title }}{% endblock %}

{% block page-tools %}
    {% if view.plot_url %}
        <a href="{{ view.plot_url }}">
            {% show_icon label='Stats' icon='pulse' size='md' %}
        </a>
        {% if view.tool_template %}
            <a class="separator"></a>
        {% endif %}
    {% endif %}
    {% if view.tool_template %}{% include view.tool_template %}{% endif %}
{% endblock %}

{% block page-content %}
<div class="row">
        <div class="col">
		{% include "itemlist/embed_list.html" %}
        </div>
</div>
{% endblock %}