{% load bl_icons %}
<header>
    <nav class="navbar navbar-dark navbar-expand fixed-top">
        <!-- Brand and toggle get grouped for better mobile display -->
        <a class="navbar-brand mx-3" href="/">{{ APP_NAME }}</a>
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">
                    {% show_icon icon="home" %}<span class="d-none d-md-inline-block">&nbsp;Dashboard</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link  dropdown-toggle me-md-2" href="#"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% show_icon icon="samples" %}<span class="d-none d-md-inline-block">&nbsp;Samples</span>
                </a>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="search-menu">
                    <a class="dropdown-item" href='{% url "shipment-list" %}'>Shipments</a>
                    <a class="dropdown-item" href="{% url 'container-list' %}">Containers</a>
                    <a class="dropdown-item" href="{% url 'group-list' %}">Groups</a>
                    <a class="dropdown-item" href="{% url 'sample-list' %}">Samples</a>
                    <a class="dropdown-item" href="{% url 'request-list' %}">Requests</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'session-list' %}">Sessions</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link  dropdown-toggle me-md-2" href="#"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% show_icon icon="list" %}<span class="d-none d-md-inline-block">&nbsp;Experiments</span>
                </a>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="search-menu">
                    <a class="dropdown-item" href="{% url 'request-list' %}">Requests</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'data-list' %}">Datasets</a>
                    <a class="dropdown-item" href="{% url 'result-list' %}">Reports</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'session-list' %}">Sessions</a>
                    {% if user.is_superuser %}
                        <a class="dropdown-item" href="{% url 'requesttype-list' %}">Request Types</a>
                    {% endif %}
                    <a class="dropdown-item" href="{% url 'activitylog-list' %}">Activity</a>
                </div>
            </li>
            {% if USE_NOTEBOOKS %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'notebooks:notebook-list' %}">
                    {% show_icon icon="book" %}<span class="d-none d-md-inline-block">&nbsp;Notebooks</span>
                </a>
            </li>
            {% endif %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle me-md-2" href="#"
                   data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="profile-menu">
                    {% show_icon icon="profile" %}<span class="d-none d-md-inline-block">&nbsp;{{user.name.upper}}</span>
                </a>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="profile-menu">
                    {% include "lims/address.html" %}
                    <div class="dropdown-divider"></div>
                    <button type="button" href="#!" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light" aria-pressed="false">
                        {% show_icon icon="light-theme" %}&nbsp;Light
                    </button>
                    <button type="button" href="#!" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="false">
                        {% show_icon icon="dark-theme" %}&nbsp;Dark
                    </button>
                    <button type="button" href="#!" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="auto" aria-pressed="true">
                        {% show_icon icon="auto-theme" %}&nbsp;Auto
                    </button>
                    {% if user.is_superuser %}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'admin:index' %}">Admin Backend</a>
                    {% endif %}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#!" data-modal-url="{% url 'edit-profile' user.username %}">Edit Profile</a>
                    <a class="dropdown-item" href="#!" id="logout-action">Log Out</a>
                </div>
            </li>
        </ul>
    </nav>
</header>
<form class="d-none" id="logout-form" action="{% url 'logout' %}" method="post">{% csrf_token %}</form>
<script>
document.addEventListener('click', function (event) {
    if (event.target.closest('#logout-action')) {
        event.preventDefault();
        document.getElementById('logout-form').submit();
    }
});
</script>
