{% load bl_icons %}

<a href="#!"  data-modal-url="{% url 'shipment-add-containers' shipment.pk %}" title="Containers">
    {% show_icon label="Containers" icon="package" size='md' %}
</a>
<a href="#!"  data-modal-url="{% url 'shipment-add-groups' shipment.pk %}" title="Groups">
    {% show_icon label="Groups" icon="groups" size='md' %}
</a>
<a  href="#!" data-modal-url="{% url 'seat-samples' shipment.pk %}" title="Samples"
    {% if shipment.num_samples == 0 %}
        title="No Samples"
        data-bs-toggle="popover"
        data-bs-trigger="hover"
        data-bs-placement="bottom"
        data-type="popover-primary"
        data-bs-content="Click here to add samples"
    {% endif %}
    >
{% if shipment.num_samples == 0 %}
    {% show_icon label='Samples' icon='samples' size='md' badge="+" color="primary" %}
{% else %}
    {% show_icon label='Samples' icon='samples' size='md' color="primary" %}
{% endif %}
</a>
{% if user.is_superuser and shipment.status == shipment.STATES.ON_SITE %}

    <a href="{% url 'shipment-detail' shipment.pk %}">
        {% show_icon label='Done' icon='check' size='md' %}
    </a>
{% endif %}