{% load bl_icons %}

{% url "project-profile" username=user.username as profile_url %}
{% url "project-statistics" username=user.username as stats_url %}

<a  href="{% url 'session-list' %}">
    {% show_icon label='Sessions' icon='calendar' size='md' %}
</a>
{% if USE_SCHEDULE %}
    <a  href="{% url 'schedule' %}">
        {% show_icon label="Schedule" icon="time" size='md' %}
    </a>
{% endif %}
{% if request.path != stats_url %}
    <a  href="{{ stats_url }}">
        {% show_icon label='My Stats' icon='pulse' size='md' %}
    </a>
{% endif %}
{% if request.path != profile_url %}
    <a  href="{{ profile_url }}">
        {% show_icon label='My Profile' icon='user' size='md' %}
    </a>
{% endif %}
