{% load bl_notebooks %}

<div id="index-{{ entry.pk }}"
     class="list-group-item index-entry text-muted {% if active == entry.pk %}active{% endif %}"
     data-entry-pk="{{ entry.pk }}"
     onclick="scrollIndex('{{ entry.pk }}');">
        {% if entry.file and 'image' in entry.mimetype %}
            <span class="entry-selector-icon index-img" title="{{ entry.kind.name|title }} Entry"
                  style="background-image: url({{ entry.file.url }}); height: 26px; width: 27px;">
            </span>
        {% else %}
            <span class="entry-selector-icon" title="{{ entry.kind.name|title }} Entry">
                <i class="mi entry-selector-{{ entry.kind.name }}"></i>
            </span>
        {% endif %}
    {% if entry.tags %}
        <div class="tag-cloud float-end text-end">
            <ul class="list-unstyled mb-0">
                <li title="{{ entry.tags|join:' | ' }}">
                    {{ entry.tags|length }}
                </li>
            </ul>
        </div>
    {% endif %}
    <span class="overflow ellipsis">&nbsp;{% if entry.kind.name == 'data' %}{% load_data entry as data %}{{ data.headers|join:" | "|truncatechars:60 }}{% else %}{{ entry.text|truncatechars:60 }}{% endif %}</span>
    <span class="float-end overflow ellipsis">{{ entry.author }} | {{ entry.created|date:"M j, H:i" }}</span>
</div>
