{% extends "lims/base.html" %}
{% load static %}
{% load markup %}
{% load bl_notebooks %}
{% load bl_icons %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'notebooks/icons/style.css' %}">
    <link rel="stylesheet" href="{% static 'notebooks/calendar.min.css' %}">
    <link rel="stylesheet" href="{% static 'notebooks/notebooks.min.css' %}">
    <link rel="stylesheet" href="{% static 'simplemde/css/simplemde.min.css' %}">
    <link rel="stylesheet" href="{% static 'katex/css/katex.min.css' %}">
    <link rel="stylesheet" href="{% static 'dropzone/css/dropzone.min.css' %}">
    <link rel="stylesheet" href="{% static 'misc/css/vanilla-picker.csp.min.css' %}">
    {{ block.super }}
{% endblock %}

{% block page-pre-title %}Notebook{% endblock %}
{% block page-title %}{{ notebook.title }}{% endblock %}

{% block page-tools %}
    <a href="#!" id="calendar-button">
        {% show_icon icon="ti ti-calendar ti-md" label="Calendar" %}
    </a>
    {% if user.is_superuser or notebook.owner == user %}
    <a href="#!" data-modal-url="{% url 'notebooks:notebook-edit' pk=notebook.pk %}">
        {% show_icon icon="ti ti-settings ti-md" label="Edit Notebook" %}
    </a>
    {% endif %}
{% endblock %}

{% block page-content %}
    <div class="row">
        <div class="col">
            {% include "itemlist/filters.html" %}
        </div>
    </div>
    <div class="row position-relative">
        {% if notebook|is_editable_by:user %}
        <div class="col-10" style="display: none; position: relative;" id="entry-editor">
            <div class="border rounded" id="editor-body" data-url="{% url 'notebooks:create-entry' pk=notebook.pk %}" data-notebook="{{ notebook.pk }}"></div>
            <div class="submit-tools">
                <button type="button" title="Cancel" onclick="closeEditor();" class="btn btn-sm btn-light">
                    <i class="mi mi-cross mi-fw"></i>
                </button>
                <button id="save-btn" type="button" title="Save" onclick="submitEntry();" class="btn btn-sm btn-success">
                    <i class="mi mi-save mi-fw"></i>
                </button>
            </div>
        </div>
        {% endif %}
        <div class="notebook-content col-9" id="notebook-content" data-annotate-url="{% url 'notebooks:annotate-notebook' pk=notebook.id %}">
            {% for entry in object_list %}
                {% show_entry entry %}
            {% endfor %}
        </div>
        <div id="nav-tools">
            <a href="#!" id="to-bottom" title="End of Page"><i class="mi mi-arrow-down-circle"></i></a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% include "itemlist/pagination.html" %}
        </div>
    </div>

{% if notebook|is_editable_by:user %}
<div id="entry-selector" class="bg-secondary-subtle border border-end-0 rounded-start-4">
    <ul class="list-unstyled px-0 my-0 d-flex flex-column gap-3 align-items-center">
        {% get_entry_types as entry_types %}
        {% for entry_type in entry_types %}
            <li class="list-item entry-selector-icon">
                <a href="#!" title="Add {{ entry_type.name|title }} Entry"
                   data-kind="{{ entry_type.name }}" onclick="create_{{ entry_type.name.lower }}_entry();" class="text-decoration-none text-body">
                    <i class="mi entry-selector-{{ entry_type.name.lower }}"></i> {{ entry_type.name|title }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endif %}
<div class="dropdown-menu rounded-0" style="display: none;" id="finder" tabindex="-1">
    <div class="container contents"></div>
</div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'katex/js/katex.min.js' %}"></script>
    <script src="{% static 'katex/js/auto-render.min.js' %}"></script>
    <script src="{% static 'simplemde/js/simplemde.min.js' %}"></script>
    <script src="{% static 'dropzone/js/dropzone.min.js' %}"></script>
    <script src="{% static 'atrament/js/atrament.min.js' %}"></script>
    <script src="{% static 'moment/js/moment.min.js' %}"></script>
    <script src="{% static 'clndr/js/clndr.min.js' %}"></script>
    <script src="{% static 'misc/js/vanilla-picker.min.js' %}"></script>
    <script src="{% static 'papaparse/js/papaparse.min.js' %}"></script>
    <script src="{% static 'html5sortable/js/html5sortable.min.js' %}"></script>
    <script src="{% static 'd3/js/d3.min.js' %}"></script>
    <script src="{% static 'd3/js/d3-legend.min.js' %}"></script>
    <script src="{% static 'highlight/js/highlight.min.js' %}"></script>
    <script src="{% static 'markjs/js/jquery.mark.min.js' %}"></script>
    <script src="{% static 'notebooks/notebooks.min.js' %}{% nocache_static %}"></script>

    <script>
        $(document).ready(function(){
            $("#to-bottom").click(function () {
                loadPage($(".notebook-entry").last(), 'rest', true);
                return false;
            });

            $('#calendar-button').myelnCalendar({
                'eventSource': "{% url 'notebooks:notebook-dates' pk=notebook.id %}",
                'selectTarget': "{% url 'notebooks:notebook-detail' pk=notebook.id %}",
                'currentMonth': "{{ entries.0.created|date:'Y-m-d' }}",
                'target': '#finder'
            });
            $('#notebook-content').annotate('.notebook-entry');

            initEntries('.notebook-entry');
        });
    </script>
{% endblock %}
