@font-face {
  font-family: 'Myeln-Icons';
  src:  url('fonts/Myeln-Icons.eot?huc11x');
  src:  url('fonts/Myeln-Icons.eot?huc11x#iefix') format('embedded-opentype'),
    url('fonts/Myeln-Icons.ttf?huc11x') format('truetype'),
    url('fonts/Myeln-Icons.woff?huc11x') format('woff'),
    url('fonts/Myeln-Icons.svg?huc11x#Myeln-Icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.mi {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Myeln-Icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mi-comment-alt:before {
  content: "\f27a";
}
.mi-comment:before {
  content: "\f075";
}
.mi-comments:before {
  content: "\f086";
}
.mi-highlighter:before {
  content: "\f591";
}
.mi-tags:before {
  content: "\f02c";
}
.mi-stroke:before {
  content: "\e90a";
}
.mi-math:before {
  content: "\e904";
}
.mi-add-col:before {
  content: "\e906";
}
.mi-del-col:before {
  content: "\e907";
}
.mi-del-row:before {
  content: "\e908";
}
.mi-add-row:before {
  content: "\e909";
}
.mi-edit:before {
  content: "\e61d";
}
.mi-fill:before {
  content: "\e61f";
}
.mi-note:before {
  content: "\e67c";
}
.mi-quote:before {
  content: "\e67f";
}
.mi-settings:before {
  content: "\e686";
}
.mi-list-ul:before {
  content: "\e694";
}
.mi-erase:before {
  content: "\e6a5";
}
.mi-full:before {
  content: "\e6fb";
}
.mi-summary:before {
  content: "\e702";
}
.mi-list-ol:before {
  content: "\e734";
}
.mi-home:before {
  content: "\e800";
}
.mi-pencil:before {
  content: "\e802";
}
.mi-lock:before {
  content: "\e80f";
}
.mi-trash:before {
  content: "\e811";
}
.mi-star-half:before {
  content: "\e815";
}
.mi-paperclip:before {
  content: "\e819";
}
.mi-enter:before {
  content: "\e81f";
}
.mi-exit:before {
  content: "\e820";
}
.mi-film-play:before {
  content: "\e824";
}
.mi-picture:before {
  content: "\e827";
}
.mi-tag-o:before {
  content: "\e82f";
}
.mi-calendar-full:before {
  content: "\e836";
}
.mi-comment-o:before {
  content: "\e83f";
}
.mi-chart-bars:before {
  content: "\e843";
}
.mi-leaf:before {
  content: "\e849";
}
.mi-download:before {
  content: "\e865";
}
.mi-magnifier:before {
  content: "\e86f";
}
.mi-cross:before {
  content: "\e870";
}
.mi-menu:before {
  content: "\e871";
}
.mi-chevron-left:before {
  content: "\e875";
}
.mi-chevron-right:before {
  content: "\e876";
}
.mi-plus-circle:before {
  content: "\e881";
}
.mi-arrow-down-circle:before {
  content: "\e884";
}
.mi-arrow-right-circle:before {
  content: "\e886";
}
.mi-highlight:before {
  content: "\e897";
}
.mi-text-left:before {
  content: "\e898";
}
.mi-activity:before {
  content: "\e90b";
}
.mi-bold:before {
  content: "\e900";
}
.mi-edit-line:before {
  content: "\e914";
}
.mi-eye:before {
  content: "\e90c";
}
.mi-italic:before {
  content: "\e901";
}
.mi-link:before {
  content: "\e90d";
}
.mi-list:before {
  content: "\e90e";
}
.mi-bars:before {
  content: "\e90f";
}
.mi-undo:before {
  content: "\e910";
}
.mi-redo:before {
  content: "\e911";
}
.mi-save:before {
  content: "\e912";
}
.mi-sliders:before {
  content: "\e902";
}
.mi-trash-o:before {
  content: "\e913";
}
.mi-type:before {
  content: "\e905";
}
