{% load bl_notebooks %}

<li class="list-item notebook-entry entry-{{ entry.kind.name }}"
    data-page-url=""
    data-entry-pk="{{ entry.pk }}"
    data-entry-date="{{ entry.created|date:'Y-m-d' }}"
    id="entry-{{ entry.pk }}"
>
    {% block entry_content %}{% endblock %}
    <div class="tag-cloud w-100 text-end">
        <ul class="list-unstyled mb-0">
        {% for tag in entry.tags %}
        <li data-search-prefix="tag" onclick="doSearch(this);">{{ tag }}</li>
        {% endfor %}
        </ul>
    </div>
    <div class="navbar p-0 text-muted d-flex justify-content-between">
        {% if entry.is_editable and user == entry.author %}
        <span class="entry-tools col-sm-4 px-0">
            <i class="mi mi-pencil mi-lg mi-fw edit-button" data-modal-url="{% url 'notebooks:edit-entry' book=entry.notebook.pk pk=entry.pk %}" title="Edit"></i>
            <i class="mi mi-tag-o mi-lg mi-fw tag-button" data-url="{% url 'notebooks:tag-notebook' pk=entry.notebook.pk %}" title="Tags" onclick="editTags(this);" data-tags="{{ entry.tag_string }}"></i>
            <i class="mi mi-trash mi-lg mi-fw delete-button"
               title="Delete" data-modal-url="{% url 'notebooks:delete-entry' book=entry.notebook.pk pk=entry.pk %}">
            </i>
        </span>
        {% else %}
        <span class="entry-tools col-sm-4 px-0">
            <i class="mi mi-tag-o mi-lg mi-fw tag-button" data-url="{% url 'notebooks:tag-notebook' pk=entry.notebook.pk %}" title="Tags" onclick="editTags(this);" data-tags="{{ entry.tag_string }}"></i>
        </span>
        {% endif %}
        <span class="col-sm-4 text-end px-0 small">
            @<span>{{ entry.author }}</span>&nbsp;|&nbsp;{{ entry.created|simpletime }}
        </span>
    </div>
    {% for annotation in entry.annotations.all %}
    {% if forloop.first %}<div class="annotations" hidden>{% endif %}
        <script id="annotation-{{ annotation.id }}" type="text/json"
                class="{{ annotation.kind }}-annotation {{ annotation.kind }}-{{ annotation.node_index }}"
                data-user="@{{ user.username }}" data-isauthor="{% if user == annotation.author %}true{% else %}false{% endif %}"
        >
            {{ annotation.json|json }}
        </script>
    {% if forloop.last %}</div>{% endif %}
    {% endfor %}
</li>
