<div class="col-6 col-sm-4">
    <a href="{% url "container-detail" pk=container.pk %}">
        <div
            {% if container.parent %}
                class="rounded-3 fw-bold text-bg-cat-6 p-2"
                title="Loaded in {{ container.parent }}"
            {% else %}
                class="rounded-3 text-bg-cat-3 p-2"
            {% endif %}
        >
            <div class="text-center">
                <div class="text-condensed overflow-ellipsis mb-1">
                    {{ container.name }}
                </div>
            </div>
            {% include "lims/details/container-layout.html" %}
        </div>
    </a>
</div>
