{% extends "lims/base.html" %}
{% load humanize %}
{% load markup %}
{% load bl_icons %}
{% load bl_themes %}
{% load static %}

{% block pre_js %}
    <script src="{% static 'd3/js/d3.min.js' %}"></script>
    <script src="{% static 'd3/js/d3-selection-multi.v1.min.js' %}"></script>
    <script src="{% static 'lims/js/basiclive-layouts.min.js' %}"></script>
{% endblock %}

{% block page-title %}
    <span class="text-thin">Container |</span>
    <span class="text-condensed">
        <span class="text-muted">{% if user.is_superuser %}{{ object.project }} | {% endif %}</span><strong>{{ object.name }}</strong>
    </span>
{% endblock %}
{% block page-subtitle %}
    <span class="text-muted">
        {% if not object.is_editable %}{% show_icon icon="lock" %}{% endif %}
        {{ object.identity }} |
        {% if object.shipment %}
            {% with object.shipment.containers.count as count %}
            <strong>1</strong> of <strong>{{ count }}</strong> Container{{ count|pluralize }} in Shipment {{object.shipment.name}}
            {% endwith %}
        {% elif object.accepts_children %}
            Container Adaptor.
        {% else %}
            Container not in a shipment.
        {% endif %}
    </span>
{% endblock %}
{% block page-tools %}
    {% if object.is_editable %}
    <a href="#!" data-modal-url="{% url 'edit-container-samples' object.pk %}"
        {% if not object.samples.exists %}
            class="attention"
            data-bs-toggle="popover"
            data-bs-trigger="hover"
            data-bs-placement="bottom"
            data-bs-custom-class="popover-primary"
            data-bs-content="Click here to add samples"
        {% endif %}
        >
        {% if not object.samples.exists %}
            {% show_icon label='Samples' icon='samples' size='md' badge="+" color="primary" %}
        {% else %}
            {% show_icon label='Samples' icon='samples' size='md' color="primary" %}
        {% endif %}
    </a>
    {% endif %}
    {% include "lims/tools-base.html" %}
    {% if object.parent_history.exists %}
        <a href="#!" data-modal-url="{% url 'container-history' object.pk %}">
            {% show_icon label='History' icon='history' size='md' %}
        </a>
    {% endif %}
    {% if object.children_history.exists %}
        <a href="#!" data-modal-url="{% url 'automounter-history' object.pk %}">
            {% show_icon label='Load History' icon='history' size='md' %}
        </a>
    {% endif %}
{% endblock %}

{% block page-status-style %}callout{% endblock %}
{% block page-status-bar %}
    <span class="status-badge badge bg-{% status_theme object.status warning=object.STATES.DRAFT success=object.STATES.SENT info=object.STATES.ON_SITE default='primary' %} text-condensed">
        {{ object.get_status_display }}
    </span>
    <div>
    {% if object.accepts_children %}
        <small class="text-muted text-condensed">Beamline:</small><br>
        {% if object.automounter %}<a href="{% url 'beamline-detail' object.automounter.beamline.pk %}">{{ object.automounter.beamline.acronym }}</a>{% endif %}
    {% else %}
        <small class="text-muted text-condensed">Shipment:</small><br>
        {% if object.shipment %}<a href="{% url 'shipment-detail' object.shipment.pk %}">{{object.shipment.name}}</a>{% endif %}
    {% endif %}
    </div>
    <div>
        <small class="text-muted text-condensed">Number of {% if object.accepts_children %}Containers{% else %}Samples{% endif %}:</small><br>
        <strong>{% if object.accepts_children %}{{ object.children.count }}{% else %}{{ object.num_samples }}{% endif %}</strong>{% if object.kind.locations.count %} / {{ object.kind.locations.count }}{% endif %}
    </div>
    {% if object.parent %}
        <div>
            <small class="text-muted text-condensed">Location:</small><br>
            {% if object.automounter %}
                {{ object.automounter.beamline }}
            {% else %}
                {{ object.parent.kind.name }} {{ object.parent.name }}
            {% endif %} | <strong>{{ object.port }}</strong>
        </div>
    {% endif %}

    <div>
        <small class="text-muted text-condensed">Type:</small><br>
        {{ object.kind }}
    </div>
{% endblock %}

{% block page-content %}
    {% if object.accepts_children %}
        <div class="row">
            <div {% if user.is_superuser %}id="admin-assign"{% endif %} class="col-sm-7 p-4">
                {% include "lims/details/container-layout.html" with container=object show_samples=True loadable=True %}
            </div>
            <div class="col-sm-5 col-12">
                {% include "lims/details/loaded.html" %}
            </div>
        </div>
    {% else %}
    <div class="row">
        <div class="{% if object.kind.envelope != 'list' %}col-md-7 {% endif %}col-12">
        <h3>Samples in {{ object.name }}</h3>
            {% include "itemlist/list.html" with object_list=object.samples.all %}
        </div>
        {% if object.kind.envelope != 'list' %}
            <div class="col-md-5 p-4 col-12">
                {% include "lims/details/container-layout.html" with container=object show_samples=True label_samples=True loadable=False %}
            </div>
        {% endif %}
    </div>
    {% endif %}
    {% include "lims/comments.html" with object=automounter.automounter %}
{% endblock %}

{% block extra_js %}
<script>
    {% if not object.accepts_children %}
    $(document).ready(function() {
        $(document).on('click', 'svg.sample[data-id]', function(){
            let url = '{% url "sample-detail" 0 %}';
            window.location.href = url.replace('0/', $(this).data('id'));
        });
    });
    {% endif %}
</script>
{% endblock %}
