{% extends "lims/base.html" %}

{% load bl_icons %}
{% load bl_themes %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "misc/css/select2.min.css" %}" media="screen"/>
    <link rel="stylesheet" href="{% static "misc/css/select2-bootstrap-5-theme.min.css" %}" media="screen"/>
    <script src="{% static "jquery/js/jquery.form.min.js" %}"></script>
    <script src="{% static "jquery/js/jquery-ui.min.js" %}"></script>
    <script src="{% static "misc/js/select2.full.min.js" %}"></script>
    <script src="{% static "misc/js/repeatable-fields.min.js" %}"></script>
{% endblock %}

{% block page-title %}
    <h3 class="text-condensed">
        <i class="text-muted fa fa-fw"></i>
        <strong>{{ object.name }}</strong>
    </h3>
    <span class="text-muted">
        {{ object.description }}
    </span>
{% endblock %}

{% block page-tools %}
    <a href="#!" data-modal-url="{% url 'requesttype-layout' object.pk %}">
        {% show_icon label='Layout' icon='layout' size='md' %}
    </a>
    <span class="separator"></span>
    <a href="#!" data-modal-url="{{ handler }}edit/">
        {% show_icon label='Edit' icon='pencil-alt' size='md' %}
    </a>
    <a href="#!" data-modal-url="{{ handler }}delete/">
        {% show_icon label='Delete' icon='trash' size='md' %}
    </a>
{% endblock %}

{% block page-status-style %}callout{% endblock %}
{% block page-status-bar %}
    <span class="status-badge badge bg-{% status_theme object.active warning=False success=True default='primary' %} text-condensed">
        {% if object.active %}ACTIVE{% else %}INACTIVE{% endif %}
    </span>
    <div>
        <small class="text-muted text-condensed">Template:</small><br>
        {{ object.template }}
    </div>
    {% include "lims/comments.html" with object=object %}
{% endblock %}

{% block page-content %}
    <div class="row">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body" id="modal-content">
                    {% crispy form form.body %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

