{% extends "lims/warning.html" %}

{% load bl_icons %}

{% block page-title %}
    <h3>
        <span class="text-thin">Fail |</span>
        <span class="text-condensed">
            <strong>We are very sorry. It seems there is a problem with our servers.</strong>
        </span>
    </h3>
    <span class="text-muted">
        {% show_icon icon="thumb-down" extra_class="text-muted" %}
        UH-OH-500 | Don't worry, a notification has been sent, and we are on it. Come back soon!
    </span>
{% endblock %}
