{% extends "lims/modal/content.html" %}

{% load humanize %}

{% block modal_title %}
    <h3 class="text-condensed">
        <span class="text-muted">
            {% if object.alias %}{{ object.alias }} (<strong>{{ object.name|upper }}</strong>)
            {% else %}{{ object.name|upper }}{% endif %}
        </span> | {{ object.contact_name }}
    </h3>
{% endblock %}

{% block modal_subtitle %}
    Allocated since {{ object.created|naturalday }}
{% endblock %}

{% block modal_body %}
    <div class="row status-bar pb-1 overflow-ellipsis">
        <div class="col">
            <strong class="text-sm">Type:</strong><br/>
            <h6 class="m-0">
                <div class="badge text-bg-info"><span>{{ object.kind }}</span></div>
            </h6>
        </div>
        <div class="col float-end text-end">
            <strong class="text-sm">Principal Investigator:</strong><br>
            <span>{{ object.pi.get_full_name|default:object.contact_name }}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="p-3">
                <strong class="text-condensed">Logistics Contact</strong><br/>
                {{ object.contact_person|default_if_none:"" }}<br/>
                {{ object.contact_email|default_if_none:"" }}<br/>
                <pre>{{ object.contact_phone|default_if_none:"" }}</pre>
            </div>
        </div>
        <div class="col-6">
            {% if object.pi %}
                <div class="p-3">
                    <strong class="text-condensed">{{ object.pi.get_full_name }}</strong><br/>
                    {{ object.pi.email|default_if_none:"" }}
                </div>
            {% endif %}
        </div>
    </div>
    <hr class="mt-0 mb-0"/>
    <div class="row">
        <div class="col-6">
            {% include "lims/address.html" with project=object %}
        </div>
    </div>
{% endblock %}

